.grid{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
        "h h h h h h h h h h h h";
        
}
.cta{
    grid-area: h;
    height:100vh;
}

img{
}
